h1 {
    color: rgb(105, 11, 11);
    font-family: cursive;
    font-size: 1000px;
    font-weight: bold;
    letter-spacing: -125px;
    line-height: 1;
    text-align: center;
    text-shadow: 200px 200px indigo
}

p {
    border: 150px solid transparent;
    padding: 250px;
    border-image: url(https://gph.to/2YIDnTp);
    color: #0d7a09;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 5px;
    line-height: 55px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    border: 500px solid transparent;
    padding: 15px;
    border-image: url(https://gph.to/2YLnhIC);
    margin: 20px;
    padding: 0;
    color: yellow;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid rgb(109, 3, 3);
    writing-mode: vertical-rl
}
   
li:last-child {
    border: brown;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:200px rgb(61, 248, 4) solid;
    padding:10px;
}
    
input, textarea {
    padding:500px;
    margin:200px
}
Body {
    background-image: url(https://cdn.wallpapersafari.com/6/57/QYGhkK.jpg);
    background-size: contain;
}
